.pnf{
  font-size: 200px;
  color: #333;
  text-align: center;
  line-height: normal;
  margin: 6rem 17rem;
}
p{
  margin: 0;
  padding: 0;
}
h3{
  width: 100%;
}
@media all and (max-width:600px) {
  .pnf{
    margin-top: 25%;
  }
}
