.steps{
  margin: 100px auto 20px auto;
}

.step{
  display: none;
  animation: stepSlide 1s ease-in;
}
.step:first-child {
  display: block;

}

@keyframes stepSlide {
  0%{
    transform: skewX(53deg) translateX(-500px);
    opacity: 0;
  }
  60%{
    transform: translateX(0px);
  }
  62%{
    transform: skewX(0deg) translateX(30px);
  }
  75%{
    transform: skew(0deg) translate(0);
  }
  90%{
    transform: skew(-5deg);
    opacity: 1;
  }
  100%{
    transform: skewX(0deg);
  }
}
